# Answerns Tasks: 
1.1:Install Jupyter notebook and run the first program and share the screenshot of the output

1.2:Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line"

#1.1 & 1.2 is same provide below:

In [28]:
a= list(range(2000,3201))
b=[]
#print(a)

for i in a:
    if ((i%7==0) and (i%5!=0)):
        b.append(i)
  #  print(i)
print(b)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# 1.3.Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [3]:
#Answer Tasks: 1.3 - 1st method

a= str(input("What is your first name"))
b= str(input("What is your last name"))
s=a[::-1]
d=b[::-1]

print(s, " " ,d)

## 2nd r method
a= str(input("What is your first name"))
b= str(input("What is your last name"))
print(b, " " ,a)

What is your first nameSush
What is your last namePedy
hsuS   ydeP
What is your first nameSwati
What is your last nameJoshi
Joshi   Swati

# 1.4:Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r3

In [3]:
#Answer Tasks: 1.4
dia=12
r=dia/2
pi=22/7

vol = ((4/3)*pi*(r**3))
print(vol)

905.142857142857

# Task 2 Started ####

# TASK 2.1 Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [8]:
#Method 1
a=list(input('Please enter a list of comma seperated numbers'))
print(a)

#### Method 2
a=[]
for i in range(3): 
    j=int(input("Please enter number")) 
    a.append(j) 
print(a)

#Method 3

a=list(input('Please enter a list number without comma')) 
print(a)

Please enter a list of comma seperated numbers2,3,5
['2', ',', '3', ',', '5']
Please enter number23344
Please enter number22
Please enter number44
[23344, 22, 44]
Please enter a list number without comma258
['2', '5', '8']

# 2.3 ==.
Write a Python program to reverse a word after accepting the input from the user.

You can also refer answer :#Answer Tasks: 1.3 above

In [1]:
a=input("Please give me 1 world")
b=list(a)
b.reverse()
b
m=''
for i in b:
    m+=i
print(m)

Please give me 1 worldSush
hsuS

# 2.2 Create the below pattern using nested for loop in Python

In [1]:
    for i in range(5):
        for j in range(i+1):
            print("*",end=" ")
        print()
    for ii in range(4,0,-1):
        for jj in range(ii):
            print("*",end=" ")
        print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 2.4.
Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [1]:
s='''WE, THE PEOPLE OF INDIA,\n having solemnly resolved to constitute India into a SOVEREIGN,! \n SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n and to secure to all its citizens'''
print(s)

WE, THE PEOPLE OF INDIA,
 having solemnly resolved to constitute India into a SOVEREIGN,!
 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 and to secure to all its citizens